.circle{
    width:20px;
    height:20px;
    border-radius:100%;
    position:relative;
    margin:4px;
    display:inline-block;
    vertical-align:middle;
    background-color: rgb(2, 77, 175);
  }
  .circle:hover {
    background: rgb(103, 168, 253) ;
    cursor: pointer;
  }
  .circle.plus:before,
  .circle.plus:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:rgb(255, 56, 56);
  }
  .circle.plus:before{
      width: 2px;
      margin: 3px auto;
  }
  .circle.plus:after{
      margin: auto 3px;
      height: 2px;
  }
  
  .circle.minus:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background:rgb(255, 56, 56);
      margin: auto 3px;
      height: 2px;
  }

  button:hover {
    cursor: pointer;
  }