h1 {
    color: red;
}

#window {
    border: solid 1px black;
    margin: 10px;
        padding: 10px;
}

.highlight {
    background-color: #CCDDEE;
}

button:hover {
    background-color: red;
}