<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>week5 - exercise</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  </head>
  <body>
    <script src="http://d3js.org/d3.v4.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <div class="container">
      <br>
      <select id="selectCountry" onChange="window.location.href=this.value">
        <option>Choose Country</option>
        {% for i in range(countryName.shape[0]) %}
        <option value={{i+1}}>{{countryName[0][i]}}</option>
        {% endfor %}
      </select>
      <select id="selectLabel" >
        <option>Choose Label</option>
        {% for item in label %}
        <option>{{item}}</option>
        {% endfor %}
      </select>
      <h2>Table</h2>
      
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              {% for item in users.columns.values %}
                <th>{{ item }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for a in range(users.shape[0]) %}
            <tr>
                {% for item in users.loc[loop.index + (page - 1) * per_page - 1] %}
              <td>{{ item }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <hr class="style1">
      <br>
      <h2>Parallel Coordinates</h2>
      <div id="parallelViz"></div>
      <h2>Total GDP of each country in world map</h2>
      <svg id="mapViz" width = 1500 height= 600></svg>
    </div>
  </body>

  <script>
  var mySelect = document.getElementById("selectCountry");
  // selects default
  /*
  for (var i = 0; i < mySelect.options.length; i++) { 
    if (mySelect.options[i].defaultSelected) {
      mySelect.selectedIndex = i;
      break;
    }
  }*/

  var margin = {top: 30, right: 10, bottom: 10, left: 0},
    width = 1200 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

  // append the svg object to the body of the page
  var svg = d3.select("#parallelViz")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform",
          "translate(" + margin.left + "," + margin.top + ")");
  
  
  // Extract the list of dimensions we want to keep in the plot. Here I keep all except the column called Species
  data = {{d3_data.chart_data | safe }}
  dimensions = d3.keys(data[0])
  dim = []
  for (i=0;i<Object.keys(data[0]).length;i++)
    dim.push(data[0][i])

  // For each dimension, I build a linear scale. I store all in a y object
  var y = {}
  for (i in dimensions) {
    name = dimensions[i]
    y[name] = d3.scaleLinear()
      .domain( d3.extent(data, function(d) { return +d[name]; }) )
      .range([height, 0])
  }

  // Build the X scale -> it find the best position for each Y axis
  x = d3.scalePoint()
    .range([0, width])
    .padding(1)
    .domain(dimensions);

  // The path function take a row of the csv as input, and return x and y coordinates of the line to draw for this raw.
  function path(d) {
      return d3.line()(dimensions.map(function(p) {
        return [x(p), y[p](d[p])];
      }));
  }

  // Draw the lines
  svg
    .selectAll("myPath")
    .data(data)
    .enter().append("path")
    .attr("d",  path)
    .style("fill", "none")
    .style("stroke", "#69b3a2")
    .style("opacity", 0.5)

  // Draw the axis:
  svg.selectAll("myAxis")
    // For each dimension of the dataset I add a 'g' element:
    .data(dimensions).enter()
    .append("g")
    // I translate this element to its right position on the x axis
    .attr("transform", function(d) { return "translate(" + x(d) + ")"; })
    // And I build the axis with the call function
    .each(function(d) { d3.select(this).call(d3.axisLeft().scale(y[d])); })
    .data(dim)
    // Add axis title
    .append("text")
      .style("text-anchor", "middle")
      .attr("y", function(d,i) {return (i%3)*(-7)-7})
      .text(function(d) { return d; })
      .style("fill", "black")
  
  </script>

  <script>
      // The svg_co
var svg_co = d3.select("#mapViz").append("svg").attr("width", width).attr("height",height)
var div = d3.select("body").append("div")   
  .attr("class", "tooltip")               
  .style("opacity", 0);
// Map and projection
var path = d3.geoPath();
var projection = d3.geoMercator()
  .scale(120)
  .center([0,60])
  .translate([width / 2, height / 2]);

// Data and color scale
var data = d3.map();

code = []
val = []
var dmc = {{d3_map.map_data | safe }}
for(var idx=0; idx < dmc.length; idx++) {
  code.push(dmc[idx].CountryCode)
  val.push(dmc[idx].YR2010)
  data.set(dmc[idx].CountryCode,dmc[idx].YR2010)
}

val_min = d3.min(val)
val_max = d3.max(val)
val_gap = val_max - val_min

var colorScale = d3.scaleThreshold()
  .domain([val_min,val_min+val_gap/4,val_min+val_gap/2,val_min+val_gap/4*3,val_max])
  .range(d3.schemeBlues[7]);


//data.set(code,val)

// Load external data and boot
d3.json("https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/world.geojson",

function ready(error, topo) {

  // Draw the map
  svg_co.append("g")
    .selectAll("path")
    .data(topo.features)
    .enter()
    .append("path")
      // draw each country
      .attr("d", d3.geoPath()
        .projection(projection)
      )
      // set the color of each country
      .attr("fill", function (d) {
        d.total = data.get(d.id) || 0;
        return colorScale(d.total);
      })
      .on("mouseover", function(d) {
        d3.select(this).transition().duration(300).style("opacity", 0.5);
        div.transition().duration(300)
        .style("opacity", 1)
        div.text(d.id + " : " + data.get(d.id))
        .style("left", (d3.event.pageX) + "px")
        .style("top", (d3.event.pageY -30) + "px");
      })
      .on("mouseout", function() {
        d3.select(this)
        .transition().duration(100)
        .style("opacity", 1);
        div.transition().duration(100)
        .style("opacity", 0);
      });
    })
  </script>
</html>